h1{
    
    background-color: #F9D689;
    color: #973131;
}
body{
    background-color: #402;
}
h2{
    color:#973131 ;
    background-color: #F9D689;
}
*{ text-align: center;}
h3{
    color:#973131 ;
    background-color: #F9D689
}